@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.scroll-list {
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
/* Customize scrollbar for WebKit browsers */
.scroll-list::-webkit-scrollbar {
  height: 8px; /* Height of the horizontal scrollbar */
}

.scroll-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #b1adad; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

.scroll-list::-webkit-scrollbar-thumb:hover {
  background: #b1adad; /* Color of the scrollbar handle on hover */
}

.ui-w-80 {
  width: 100px !important;
  height: auto;
  border-radius: 50%;
}

.account-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}
